<GOAGENT>
	<GAE>
		<APPID>rqhproxy</APPID>
		<PATH>/fetch.py</PATH>
		<PASSWORD></PASSWORD>
		<GOOGLECNIP>
			<IP>203.208.46.1</IP>
			<IP>203.208.46.2</IP>
			<IP>203.208.46.3</IP>
			<IP>203.208.46.4</IP>
			<IP>203.208.46.5</IP>
			<IP>203.208.46.6</IP>
			<IP>203.208.46.7</IP>
			<IP>203.208.46.8</IP>
		</GOOGLECNIP>
		<TESTGOOGLECNIP>0</TESTGOOGLECNIP>
	</GAE>
	<LISTEN>
		<ADDR>:8087</ADDR>
	</LISTEN>
	<LOCAL>
		<NUMCPU>1</NUMCPU>
		<MAXCONNS>20</MAXCONNS>
		<CERTFILE>CA.crt</CERTFILE>
		<KEYFILE>CA.key</KEYFILE>
	</LOCAL>
</GOAGENT>
